<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="{% static 'icons/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static 'icons/icon-192.png' %}" sizes="192x192" />
    <link rel="icon" type="image/svg+xml"  href="{% static 'icons/favicon.svg' %}" />
    <link rel="shortcut icon"  href="{% static 'icons/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}" />
    <meta name="apple-mobile-web-app-title" content="rum26.ru" />
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<h1>Вход в систему</h1>

<form method="post">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        Войти
    </button>

</form>

</body>
</html>